# Application Settings
PROJECT_NAME="Online Book Store"
API_V1_STR="/api/v1"
SECRET_KEY="production_jwt_secret_key_change_in_prod"
REFRESH_SECRET_KEY="production_refresh_jwt_secret_key_change_in_prod"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7


# Database Configuration (Separate variables)
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=task2_db
DATABASE_USER=postgres
DATABASE_PASS=postgres

# Initial Admin Seed Credentials
FIRST_SUPERADMIN_EMAIL=admin@bookstore.com
FIRST_SUPERADMIN_PASSWORD=AdminPassword123!
FIRST_SUPERADMIN_FULL_NAME=admin

# AI Architecture (Leave OPENAI_API_KEY empty until Phase 13)
AI_PROVIDER=
OPENAI_MODEL=
OPENAI_API_KEY=

EMBEDDING_MODEL=text-embedding-3-small

# Vector Database
VECTOR_DB=chroma
CHROMA_DB_PATH=vector_database/chroma